.scoreBoard {
  display: flex;
  flex-direction: row;
  flex: 2.5;
}

@media only screen and (max-height: 475px) and (min-height: 1px) {
  .scoreBoard {
    flex-grow: 2;
  }
}

.column {
  flex: 1;
  border-right: 1px solid azure;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.scoreBoard .score {
  font-family: Helvetica, sans-serif;
  font-size: 2.25em;
}

.scoreBoard .name {
  white-space: nowrap;
  overflow: scroll;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {
  .score {
    font-size: 1.75em;
  }
}

.column.current {
  border: 1px solid red;
}

.column > div {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "shadows into light regular", Helvetica, sans-serif;
  font-size: 2em;
}

.column > div.x {
  font-size: 3.1em;
  padding: 0;
  line-height: 0.75em;
}

.column > div.slash {
  font-size: 2em;
}

.column:last-child {
  border: none;
}

.column .playerForRow {
  border-bottom: 1px solid azure;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: none;
}

.column .playerForRow.current {
  background-color: red;
}

.column .markLabel {
  font-family: Helvetica, sans-serif;
  border: 2px solid white;
  margin: 10px;
  border-radius: 50px;
}

.cleared {
  color: gray;
  border: none !important;
}

.strikeThrough {
  position: absolute;
  height: 2px;
  width: 90vw;
  background-color: white;
}

.above {
  position: relative;
  z-index: 11;
}

.behind {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  text-align: center;
}
