.scoreBoard {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.column {
  flex: 1;
  flex-basis: 100%;
  border-right: 1px solid azure;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.score {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
}

.column.current {
  border: 1px solid red;
}

.column > div {
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "shadows into light regular", Helvetica, sans-serif;
  font-size: 2em;
}

.column > div.x {
  font-size: 3.1em;
  padding: 0;
  line-height: 0.75em;
}

.column > div.slash {
  font-size: 2em;
}

.column:last-child {
  border: none;
}

.column .playerForRow {
  border-bottom: 1px solid azure;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: none;
}

.column .playerForRow.current {
  background-color: red;
}

.cleared {
  background-color: lightgray;
  color: gray;
}

.above {
  position: relative;
  z-index: 11;
}

.behind {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  text-align: center;
}
