body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 1em;
  margin: 0 1em 0 0;
}

h2 {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  padding: 1em;
}

h3 {
  padding: 0;
  margin: 0.35em;
  font-weight: 500;
}

button {
  cursor: pointer;
}

.root {
  position: relative;
}

.App {
  z-index: 100;
  margin: 0.25em 1em 1em 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex: 1;
}

.content {
  flex: 10;
  display: flex;
  flex-direction: column;
}

.sideBar {
  flex: 1;
}

.winner {
  font-size: 3em;
  background-color: green;
  color: whitesmoke;
  padding: 0.5em;
  margin: 0.15em 0 0.5em 0;
}
