.dart {
  display: inline-block;
  padding: 0.2em;
  border: 1px solid black;
  margin: 0.25em;
  white-space: nowrap;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}

.dart.condensed {
  border: none;
  padding: 0;
}
