.gameInfo {
  display: flex;
  position: relative;
  align-items: stretch;
  align-content: center;
  z-index: 10;
  margin: 0;
  padding: 0;
  margin-top: 0.25em;
}

.gameInfo > div {
  flex: 1;
  margin: 0;
  text-align: center;
}
