.playerChooser {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  padding: 0 0.25em;
  font-size: 1.25em;
}

.playerChooser button,
.playerChooser input {
  font-size: 1em;
}

.playerChooser .player {
  padding: 0.5em;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.playerChooser .player button {
  flex-shrink: 0;
}

.player-name {
  flex: 1;
  min-width: 0;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
}

.addPlayer button {
  font-size: 1.25em;
  padding: 0.25em;
}

.addPlayer input {
  font-size: 1.25em;
}
