.players {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 0.35em;
}

.player {
  flex: 1;
  white-space: nowrap;
  margin-bottom: 0.25em;
  padding-top: 2.7em;
}

.player.current {
  padding-top: 0;
  flex: 1.2;
  background-color: red;
  overflow-y: auto;
}

.player.current .name {
  font-size: 3em;
  color: white;
}

.player.current .total {
  font-size: 3.5em;
  color: white;
}

.dart.placeholder {
  border-color: transparent;
}
