.players {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 0.35em;
}

.player {
  position: relative;
  z-index: 10;
  flex: 1;
  white-space: nowrap;
  margin-bottom: 0.25em;
}
