.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  margin-top: 0.35em;
}

.player {
  position: relative;
  flex: 1;
  white-space: nowrap;
  margin-bottom: 0.25em;
}

.player .total {
  margin-left: 1em;
}

.player.current {
  background-color: red;
  padding: 0.5em 1em;
}

.player.current .name {
  font-size: 3em;
  color: white;
}

.player.current .total {
  font-size: 3.5em;
  color: white;
}

.dart.placeholder {
  border-color: transparent;
}
