.stats {
  display: flex;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

.playerStats {
  flex: 1;
  border: 2px solid darkgoldenrod;
  padding: 0.75em;
  margin: 3px;
  flex-grow: 0;
}

.playerStats.win {
  border-color: green;
}

.playerStats table {
  margin-top: 1em;
}

table .right {
  text-align: right;
  padding-right: 0.75em;
}
