.marks {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  row-gap: 1em;
  position: relative;
  opacity: 1;
  z-index: 10;
  flex: 1;
  margin-top: 0.5em;
}

.markGroup button {
  flex: 1;
  padding: 0.5em;
  margin: 0;
  white-space: nowrap;
  width: 3.75em;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 600;
  background-color: white;
  opacity: 1;
  border: 1px solid darkgray;
  width: 100%;
}

@media (hover: hover) {
  .markGroup button:hover {
    background-color: darkgray;
    color: white;
    border: 1px solid darkgray;
  }
}

.markGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.longer button {
  width: 100%;
}
