.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em;
}

.marks {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 0.5em;
}

.marks button {
  transition: background-color 0.5s ease-in;
}

.marks.invalid button,
.controls.invalid button {
  background-color: red;
  transition: background-color 0.5s ease-out;
}

.marks button,
.controls button {
  flex: 1;
  min-width: 2.1em;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
  background-color: ghostwhite;
  border: 1px solid darkgray;
  padding: 0;
  font-size: 2.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls button {
  justify-content: space-between;
  flex: none;
  aspect-ratio: 1/1;
  padding: 0 0.5em;
  font-size: 1.5em;
}

.controls button:active {
  color: red;
}

.controls button.engaged {
  background: black;
  color: white;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {
  .marks button {
    font-size: 1.75em;
  }

  .controls button {
    font-size: 1em;
  }
}

@media (hover: hover) {
  .marks button:hover {
    background-color: darkgray;
    color: white;
    border: 1px solid darkgray;
  }
}
